head{

	background-color: skyblue;
}

body{

	background-color: skyblue;
}


h1{

	color: darkblue;
	background-color: white;
	border-radius: 20px;
	text-align: center;
}
.c2{

	color: red;
	background-color: #F1FF00;
	border-radius: 30px;
	text-align: center;
}
.c3{

	color: red;
	background-color: #F1FF00;
	border-radius: 30px;
	text-align: center;
}

.c4{


	color: red;
	background-color: #F1FF00;
	border-radius: 30px;
	text-align: center;
}
.c5{


	color: red;
	background-color: #F1FF00;
	border-radius: 30px;
	text-align: center;
}
button{

	background-color: black;
	border-radius: 20px;
	color: yellow;
	padding: 2px;


}
img{
	padding-left: 140px;
	padding-top: 70px;
	width: 400px;
}

.container{

	width: 80%;
	margin: auto;
	margin-left: 100px;	
}
